<script type="text/javascript" src="http://j.maxmind.com/app/geoip.js"></script>
<h1>Nearby locations</h1>
<%= form_tag '/', :method => :get do %>
  <p>
    <%= text_field_tag :radius  %><br>
    <%= submit_tag "Set Radius", :name => nil, :id => "set_radius", :type => "button" %>
    <%= submit_tag "Show All Locations", :name => nil, :id => "replace_markres", :type => "button" %>
    <%= submit_tag "Show Me", :name => nil, :id => "show_me", :type => "button" %>
  </p>
<% end %>
<table>
  <tr>
    <td>
	    <td><%= gmaps("map_options" => { "detect_location" => false, "center_on_user" => true, "auto_zoom" => true, "auto_adjust" => "false" },"markers" => { "data" => @json }) %>
    </td>
    <td  valign="top">
      <h2>Description:</h2><textarea id="dsct" name="description" cols="40" rows="10"></textarea>
    </td>
  </tr
</table>
<div id="mapid"></div>
