<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(function(){
      $("#replace_markers").click(function(){
        $.getJSON("/markers", function(data){
	  Gmaps.map.map_options.auto_adjust = false;
          Gmaps.map.replaceMarkers(data);	
	  Gmaps.map.addMarkers(data);
        });
      });		
    });
  </script>
<% end %>
<h1>Listing locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>IP Address</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.ip_address %></td>
    <td><%= location.address %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
    <td><%= location.description %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>

<%= gmaps("map_options" => { "detect_location" => false, "center_on_user" => true, "auto_zoom" => true, "auto_adjust" => "true" },"markers" => { "data" => @json, "options" => {"list_container" => "markers_list" } }) %>

<button id='replace_markers'> Refresh markers</button>

<ul id="markers_list">  </ul>
