<p id="notice"><%= notice %></p>

<p>
  <b>IP Address:</b>
  <%= @location.ip_address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
<p>
<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>
<%= gmaps("map_options" => { "detect_location" => true, "center_on_user" => true, "zoom" => 10, "auto_zoom" => false },"markers" => { "data" => @json }) %>
